@page "/clientes"
@rendermode InteractiveServer
@inject ClientesService clientesService
@inject TecnicosService tecnicosService

<PageTitle>Clientes</PageTitle>
<h3><i class="bi bi-people-fill"></i> Clientes</h3>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header space-between">
            <h5 class="card-title text-center">Registro de Clientes</h5>
            <a href="@Urls.ClientesCrear" class="btn btn-primary"> <span class="bi bi-plus-square bi-trask mt-3"></span> Crear</a>
        </div>

        <div class="card-body">

            @*labels*@
            <div class="row">

                @*Filtrar por*@
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                @*filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">Id</option>
                        <option value="Nombres">Nombres</option>
                        <option value="Rnc">RNC</option>
                    </InputSelect>
                </div>

                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"> Search</button>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead class="table  table-striped text-black">
                    <tr>
                        <th>ClienteId</th>
                        <th>Nombres</th>
                        <th>Fecha Ingreso</th>
                        <th>Direccion</th>
                        <th>Limite Credito</th>
                        <th>T&eacute;cnico</th>
                        <th class="text-center" colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in listaClientes)
                    {
                        <tr>
                            @*Detalle*@
                            <td> @cliente.ClienteId</td>
                            <td> @cliente.Nombres</td>
                            <td> @cliente.FechaIngreso</td>
                            <td> @cliente.Direccion</td>
                            <td> $ @cliente.LimiteCredito</td>
                            <td> @BuscarTecnico(cliente.TecnicoId).Result.Nombres</td>

                            @*BTN Editar*@
                            <td class="text-center">
                                <a href="@Urls.ClientesEditar/@cliente.ClienteId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>

                            @*BTN Eliminar*@
                            <td class="text-center">
                                <button class="btn btn-outline-danger bi bi-trash" @onclick="() => Eliminar(cliente.ClienteId)"></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer space-between">
            <label>Clientes:  @listaClientes.Count()</label>
        </div>
    </div>
</div>


@code {
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    List<Clientes> listaClientes = new();
    List<Tecnicos> listaTecnicos = new();
    protected override async Task OnInitializedAsync()
    {
        listaClientes = await clientesService.Listar((c) => c.ClienteId > 0);
        listaTecnicos = await tecnicosService.Listar((t) => t.TecnicoId > 0);

        Tecnicos tecnicos = await BuscarTecnico(1);
    }

    private async Task Buscar()
    {
        if (Filtro == "Id")
        {
            listaClientes = await clientesService.Listar((t) => t.ClienteId.ToString().Contains(ValorFiltro));
        }
        else if (Filtro == "Nombres")
        {
            listaClientes = await clientesService.Listar((t) => t.Nombres.Contains(ValorFiltro));
        }
        else if (Filtro == "Rnc")
        {
            listaClientes = await clientesService.Listar((t) => t.Rnc.Contains(ValorFiltro));
        }
    }

    private async Task<Tecnicos> BuscarTecnico(int id)
    {
        Tecnicos? t = listaTecnicos.Find(t => t.TecnicoId == id);
        if (t != null) return t;

        t = new Tecnicos();
        t.Nombres = "No asignado";

        return t;
    }

    private async Task Eliminar(int id)
    {

        await clientesService.Eliminar(id);
        listaClientes = await clientesService.Listar((c) => c != null);
    }


}
