@page "/tickets/create"
@inject ClientesService clientesService
@inject TecnicosService tecnicosService
@inject TicketsService ticketsService
@rendermode InteractiveServer
@inject NavigationManager navigationManager
<PageTitle>Crear Ticket</PageTitle>
<h3>TicketsCreate</h3>

<EditForm Model="ticket" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Ticket</h5>
            </div>

            <div class="card-body">
                @*TicketId*@
                <div class="mb-3">
                    <label class="form-label"><strong>TicketId</strong></label>
                    <InputNumber class="form-control" @bind-Value="ticket.TicketId" readonly />
                </div>
                @*Fecha*@
                <div class="mb-3">
                    <label class="form-label"><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value="ticket.Fecha"></InputDate>
                </div>
                @*Prioridad*@
                <div class="mb-3">
                    <label class="form-label"><strong>Prioridad</strong></label>
                    <InputSelect class="form-control" @bind-Value="ticket.Prioridad">
                        <option value="0" disabled selected>Elija una opci&oacute;n</option>
                        <option value="1">Baja</option>
                        <option value="2">Media</option>
                        <option value="3">Alta</option>
                        <option value="4">Urgente</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => ticket.Prioridad)" />
                </div>
                @*Cliente*@
                <div class="mb-3">
                    <label class="form-label"><strong>Cliente</strong></label>
                    <InputSelect class="form-control" @bind-Value="ticket.ClienteId">
                        <option value="0" disabled selected>Elija una opci&oacute;n</option>
                        @foreach (var c in listaCliente)
                        {
                            <option value="@c.ClienteId">@c.Nombres</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => ticket.ClienteId)" />
                </div>

                @*Tecnico*@
                <div class="mb-3">
                    <label class="form-label"><strong>Tecnico</strong></label>
                    <InputSelect class="form-control" @bind-Value="ticket.TecnicoId">
                        <option value="0" disabled selected>Elija una opci&oacute;n</option>
                        @foreach (var t in listaTecnicos)
                        {
                            <option value="@t.TecnicoId">@t.Nombres</option>
                        }

                    </InputSelect>
                    <ValidationMessage For="@(() => ticket.TecnicoId)" />
                </div>

                @*Asunto*@
                <div class="mb-3">
                    <label class="form-label"><strong>Asunto</strong></label>
                    <InputText class="form-control" @bind-Value="ticket.Asunto" />
                    <ValidationMessage For="@(() => ticket.Asunto)" />
                </div>

                @*Descripcion*@
                <div class="mb-3">
                    <label class="form-label"><strong>Descripcion</strong></label>
                    <InputTextArea class="form-control" @bind-Value="ticket.Descripcion" />
                </div>

                @*TiempoInvertido*@
                <div class="mb-3">
                    <label class="form-label"><strong>Tiempo Invertido</strong></label>
                    <InputNumber class="form-control" @bind-Value="ticket.TiempoInvertido" />
                    <ValidationMessage For="@(() => ticket.TiempoInvertido)" />
                </div>

            </div>
       
            @*Footer*@
            <div class="card-footer text-center">
                <a href="@Urls.TicketsIndex" class=" btn btn-secondary"><span class="bi bi-arrow-left"></span> Volver</a>
                <button type="submit" class="btn btn-primary bi bi-floppy">Guardar</button>
            </div>
        </div>
    </div>
</EditForm>
@code {
    public Tickets ticket = new();
    public List<Clientes> listaCliente = new();
    public List<Tecnicos> listaTecnicos = new();

    protected override async Task OnInitializedAsync()
    {
        listaCliente = await clientesService.Listar(c => c.ClienteId > 0);
        listaTecnicos = await tecnicosService.Listar(t => t.TecnicoId > 0);
        ticket.Fecha = DateTime.Now;    
    }

    public async Task Guardar()
    {
        await ticketsService.Guardar(ticket);
        navigationManager.NavigateTo(Urls.TicketsIndex);
    }

}
